.cart-dropdown {
  position: absolute;
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #000;
  background-color: white;
  top: 80px;
  right: 4;
  z-index: 5;

  .cart-items {
    max-height: 320px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 12px;
  }
  button {
    margin-top: auto;
  }
}
