.sign-up {
  p {
    font-size: 18px;
  }

  .button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
  }

  form {
    margin-top: 48px;
  }
}
