.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  position: relative;

  .total {
    font-size: 32px;
    align-self: flex-end;
  }

  .warning {
    color: red;
  }

  .stripe-button-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
  }
}
