.cart-item {
  width: 100%;
  margin-bottom: 12px;
  height: 120px;
  display: flex;

  .image {
    width: 40%;
    height: 120px;
    margin-right: 12px;
  }

  .item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
